@charset 'UTF8';

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 20px;
    margin:auto;
    margin-top: 100px;
    text-align: center;
    max-width: 600px;
    height: auto;
    background-image: linear-gradient(to bottom, var(--color3), var(--color2));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    border-radius: 10px;
}

#titulo {
    color: white;
    width: 100%;
    font-size: 2.5em;
    padding: 10px;
}

#name, #lastname {
    width: 30%;
}

#email, #password, #confirm-pasword{
    height: 30px;
    width: 65%;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.493);
}

.campo input, button {
    padding: 0.2em;
    margin: 0.3em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
}

.remember {
    color: white;
}

button {
    background-image: linear-gradient(to bottom, var(--color5), var(--color3));
    color: white;
    height: 30px;
    width: 65%;
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    border: white;
    padding: 0.2em 0.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transition-duration: 0.5s;
}

button:hover {
    color: black;
    width: 70%;
}

button:focus {
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
}
