@charset 'UTF8';

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
    --color6: #292a2d;
    --color7: #1d1e1f;
    --color8: #eee;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color6);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

#main {
    padding: 20px;
    margin:auto;
    margin-top: 100px;
    text-align: center;
    max-width: 600px;
    height: auto;
    background-image: linear-gradient(to bottom, var(--color3), var(--color2));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    border-radius: 10px;
}

.main-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#loged-user {
    color: #eee;
}

#loged-user h2 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 2.5rem;
    padding: 10px;
}

#loged-user p {
    margin-top: 30px;
}

#loged-user button {
    margin: 10px auto 20px auto;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color5), var(--color3));
    color: #eee;
    height: 30px;
    width: 50%;
    font-size: 1.2em;
    border: 1px;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
}

#loged-user button:hover {
    background-image: linear-gradient(to bottom, var(--color5), var(--color2));
    cursor: pointer;
}

#login {
    width: 70%;
}

#login h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    font-size: 2.5rem;
    padding: 10px;
}

#login h3 {
    text-align: left;
    font-size: 0.8rem;
    color: #eee;
    padding: 0 10px;
}

.password-container {
    display: flex;
    justify-content: space-between;
}

#login .campo {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
}

#login #username, #login #password{
    height: 30px;
    width: 100%;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.493);
}

#login .campo input, .button {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
}

#login .remember {
    color: white;
}

.button {
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color5), var(--color3));
    color: #eee;
    height: 30px;
    width: 100%;
    font-size: 1.2em;
    border: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
}

.button:hover {
    background-image: linear-gradient(to bottom, var(--color5), var(--color2));
    cursor: pointer;
}

.button:focus {
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
}

#forgot-password {
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    transition: all 300ms ease;
}

#forgot-password:hover {
    color: var(--color5);
    text-decoration: none;
}

#register {
    font-size: 0.8rem;
    padding-top: 10px;
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
}

#register a {
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    transition: all 300ms ease;
}

#register a:hover {
    color: var(--color5);
    text-decoration: none;
}

.check {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    letter-spacing: 1px;
    margin-top: 10px;
}

#flash {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    width: 100%;
}

#flash ul {
    width: auto;
    background-image: linear-gradient(to bottom, chartreuse, rgb(61, 121, 2));
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    list-style: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}