@charset 'UTF8';
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Staatliches&display=swap');

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
    --color6: #292a2d;
    --color7: #1d1e1f;
    --color8: #eee;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color6);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    background-color: var(--color7);
    width: 100%;
}

#header-container {
    display: flex;
    width: 99%;
    padding: 2px;  
}

#header-container .title-main a {
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    color: var(--color4);
    text-align: flex-start;
    font-size: 1.8rem;
    padding-left: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
}

#header-container .navbar-main ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    
}

#header-container .navbar-main ul li {
    display: inline;
    
}

#header-container .navbar-main > ul li a{
    color: var(--color8);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color7);
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms ease; /*Tempinho de transição quando passa o mouse no link (animação)*/
}

#header-container .navbar-main ul li a:hover{
    background-color: #333;
    color:white;
    border: 1px solid #eee;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: rgba(51, 51, 51, 0.575);
    color: var(--color8);
    width: 100%;
}
