@charset 'UTF8';

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
    --color6: #292a2d;
    --color7: #1d1e1f;
    --color8: #eeeeee8e;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color8);
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
}

#loged-user {
    color: #eeeeee8e;
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border: 2px solid #420eff;
}

#loged-user h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #eeeeee8e;
    font-size: 2rem;
    padding: 20px;
}

#loged-user .profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loged-user .profile-img img {
    width: 40%;
    height: 40%;
    border: 2px solid #1d1e1f;
    border-radius: 100%;
}

#loged-user p {
    margin-top: 10px;
}



.container {
    width: 98vw;
    height: 93vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.img img {
    width: 500px;
}

.img h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 30px 0 0 150px;
    color: #eeeeee8e;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

.avatar {
    width:100px;
    margin-bottom: 30px;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 1px 0;
    border-bottom: 2px solid #eeeeee8e;
}

.input-div:after .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1D27DE;
    transition: .3s;
}

.input-dev:after {
    right: 50%;
}

.input-dev:before {
    left: 50%;
}

.input-div.focus .i i {
    color: #1D27DE;
}

.input-div.focus div h5 {
    top: 0px;
    font-size: 13px;
    transform: translateY(-9px);
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #eee;
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div h5 {
    position: absolute;
    left: 10px;
    top: 20%;

    color: #eeeeee8e;
    font-size: 20px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(226, 226, 226);
}

.link {
    display: flex;
    justify-content: space-between;
}

a, .check {
    text-decoration: none;
    color: #eeeeee8e;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #1D27DE;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to bottom, #21D8FA, #5021FA);
    cursor: pointer;
    color: #eeeeeec5;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn:hover {
    background-position: right;
    color: #fff;
    background-image: linear-gradient(to bottom, #37e1ff, #4310fb);
}

.register {
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }

    a, .check {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    .img {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .login-container {
        justify-content: center;
    }
}