@charset 'UTF8';

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #292a2d;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin-top: -50px;
}

.perfil-left {
    display: inline-block;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 100px;
    width: 300px;
    height: 100%;
    justify-content: left;
    background-color: cadetblue;
}

.main {
    display: inline-flex;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: -100px;
    width: 300px;
    height: auto;
    justify-content: center;
    background-color: cadetblue;
}

.perfil-right {
    display: inline-block;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 100px;
    width: 300px;
    height: 100%;
    justify-content: right;
    background-color: cadetblue;
}