@charset 'UTF8';
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Staatliches&display=swap');

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
    --color6: #292a2d;
    --color7: #1d1e1f;
    --color8: #eee;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color6);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

.main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#column1-container {
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#column1-container #perfil {
    background: var(--color7);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

#column1-container #perfil .profile-img {
    width: 65%;
    height: 30%;
    margin: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border: 3px solid #eee;
    border-radius: 15px;
}
    

#column2-container {
    width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-task {
    display: flex;
    
    width: 59%;
    height: auto;
    border-radius: 5px;

    color: #ffffff;
    text-transform: uppercase;
}

.add-task #task {
    font-size: 2rem;
    width: 80%;
}

.add-task .button {
    border-radius: 5px;
    width: 20%;
}

#column2-container #conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin:auto;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--color3), var(--color2));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 90%;
    min-height: 85%;
    height: auto;
}

#column2-container #conteudo .tabela {
    width: 70%;
}

#column2-container #conteudo h2{
    color: #eee;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, var(--color2), var(--color3));
    border: 2px solid #fff;
    border-radius: px;
}

.task-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #ffffff;
    text-transform: uppercase;
}

.task-items ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task-items ul .item{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0;
    border: 1px solid #fff;
    font-size: 1.5em;
    color: #ffffff;
}

.task-items ul .item li{
    border-radius: 5px;
    width: 80%;
    height: 100%;
    list-style: none;
    padding: 5px 0;
}

.task-items ul .item .del-button{
    border-radius: 5px;
    width: 20%;
    height: 100%;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(255, 57, 57), rgb(190, 2, 2));
    color: #eee;
    height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
}

.task-items ul .item .del-button:hover {
    background-image: linear-gradient(to bottom, rgb(190, 2, 2), rgb(255, 57, 57));
    cursor: pointer;
}

.task-items ul .item .del-button:focus {
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
}

#column2-container #conteudo .disc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.button {
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(5, 221, 16), rgb(0, 88, 4));
    color: #eee;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    border: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
}

.button:hover {
    background-image: linear-gradient(to bottom,  rgb(0, 88, 4), rgb(5, 221, 16));
    cursor: pointer;
}

.button:focus {
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
}

.Disconect {
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(5, 221, 16), rgb(0, 88, 4));
    color: #eee;
    height: 30px;
    width: 100%;
    border: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
}

.Disconect:hover {
    background-image: linear-gradient(to bottom,  rgb(0, 88, 4), rgb(5, 221, 16));
    cursor: pointer;
}

.Disconect:focus {
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
}


#column3-container {
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#column3-container #ad {
    background: var(--color7);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #eee;
}

#flash {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    width: 100%;
}

#flash ul {
    width: auto;
    background-image: linear-gradient(to bottom, chartreuse, rgb(61, 121, 2));
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    list-style: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}