<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}" rel="stylesheet">
  </head>
  <body>
    <header id="header-main">
      <div id="header-container">
        <h1 class="title-main">
          <a href="/home">Meu Site</a>
        </h1>
        <nav class="navbar-main">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>


      {% block content %}
      {% endblock %}

    
    <footer class="footer">
      <p>&copy; 2021 Clayton Garcia da Silva, Br.</p>
    </footer>
    <!-- if you wanna make the world a better place take a look ay yourself, and make a change -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>