<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Toilter{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>OTibaH</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Login</a>
      </nav>
    </header>

      {% block content %}
      {% endblock %}

    <footer>
      <p>&copy; 2021 Clayton Garcia da Silva, Br.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
