<link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}

<main>
    <div>
        <h2 id="titulo">Bem vindo ao MitMirror!</h2>
    </div>
        <div class="campohome">
            <form action="/login">
                    <button class="button" type="submit" >Login</button>
            </form>
            <form action="/register">
                    <button class="button" type="submit">I want to register</button>
            </form>
        </div>
       
    </form>
</main>

{% endblock %}
