<link rel="stylesheet" href="{{ url_for('static', filename='css/style-home.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block content %}

<main id="main">
    <div class="main-container">
        <div>
            <h2 id="titulo">Bem vindo ao Meu Site!</h2>
        </div>
            <div class="campohome">
                <form action="/login">
                        <button class="button" type="submit" >Login</button>
                </form>
                <form action="/register">
                        <button class="button" type="submit">I want to register</button>
                </form>
            </div>
        
        </form>
    </div>
</main>

{% endblock %}
