<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toilter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <h1>Toilter</h1>
    {% if user %}
    <p>Bem-Vindo ao Toilter, {{ user }}!</p>
    {% else %}
    <p>Bem-Vindo ao Toilter!</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
