{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<main>
    <h2>Login</h2>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="login">
            <label for="">Username</label>
            {{ form.username(_class="form-controll",
                placeholder="Username") }}
        </div>
        <div class="login">
            <label for="">Password</label>
            {{ form.password(_class="form-control",
                placeholder="Password") }}
        </div>
        <div class="checkbox">
            <label for="">
                {{ form.remember_me }} Remember-me
            </label>
        </div>
        <button type="submit">Login</button>
    </form>
</main>
{% endblock %}
