<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h2 id="titulo">Login</h2>
    </div>
    <form action="" method="POST">
        <div class="campo">
            <label for="username">
                <input class="text" type="text" name="username"  id="username" autocomplete="username" placeholder="Username" required>
            </label>
        </div>
        <div class="campo">
            <label for="password">
                <input class="text" type="password" name="password" id="password" placeholder="Password" required>
            </label>
        </div>
        <div class="campo">
            <label for="remember" class="check">
                <input type="checkbox" id="checkbox" value="Remember-me"checked="checked">
            </label>
            <label class="remember"><strong>Remember me</strong></label>
        </div>
        <div class="campo">
            <button class="button" type="submit">Enter</button>
        </div>
       
    </form>
</main>

{% endblock %}
