<link rel="stylesheet" href="{{ url_for('static', filename='css/style-profile.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}

<main class="main">
    <div id="column1-container">
        <section id="perfil">
            <div class="profile-img">
                <img src="https://previews.dropbox.com/p/thumb/ABS7eCRZiN1iC7AuWM3wmPzqtxkSQb8q9QeSuBakqFhLhlIMGxStM89lfMEYLVB-IM5MxtrclH036UqbKuIrOgSE9hrZZCy2FYS63dpUiTrLjOFsk3R-zhL7C6S42dO6WpibBIk8sZXux5X2hYlRJYvHsy5icOOvVGoJsqYOHE06nkcZ6tn8-zk-GP09U9dZZk2Br_G2uKCw0AJm0vwVIimCsqm-SUUPUnJwa0f67BHkjT1yoImbDyrUCj1VzLKnj_CkjpTYTJ2v4GlqnB44WFf1DaJM0FskvsJZc_2NHK8WOeGwnyZSIGYzgHhExc1Iaiz6D9NWAf_Zs7aKhMfeYuPPcYjj2TBY5Ei0dOGubdKyfQ/p.jpeg?fv_content=true&size_mode=5" alt="image-profile">
            </div>
            <strong>{{ current_user.name.title() }}</strong>
            <em>@{{ current_user.username.title() }}</em>
            <strong>5/10</strong>
        </section>
    </div>
    <div id="column2-container">
        <form action="" method="POST" class="add-task">
            {{ form.csrf_token }}
            {{ form.task(id="task") }}
            <button class="button" type="submit">add</button>
        </form>
        <section id="conteudo">
            <div class="tabela">
                <h2>Myts of the day!</h2>
                <div class="taskdb">
                    {% with messages = task_message %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <div class="items">
                                <form action="#">
                                    <button class="task"><li>{{ message.task }}</li></button>
                                </form>
                            </div>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="items">
                    <form action="/logout">
                        <button class="button" type="submit">Disconect</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div id="column3-container">
        <section id="ad">
            <h1>Aqui vai um add</h1>
        </section>
    </div>
</main>
<div id="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% endblock %}
