<link rel="stylesheet" href="{{ url_for('static', filename='css/style-register.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}

<main id="main">
    <div class="main-container">

        <div id="register">
            <h2>Register</h2>
            <form action="" method="POST">
                {{ form.csrf_token }}
                <fieldset class="camponame">
                    <div style="display: inline;" class="campo">
                        <h3>Name</h3>
                        <label for="name">
                            {{ form.name(id="name", placeholder="Name", autocomplete="given-name") }}
                        </label>
                    </div>
                    <div style="display: inline;" class="campo">
                        <h3>Last Name</h3>
                        <label for="lastname">
                            {{ form.lastname(id="name", placeholder="Last Name", autocomplete="family-name") }}
                        </label>
                    </div>
                </fieldset>
                <div class="campo">
                    <h3>Email</h3>
                    <label for="email">
                        {{ form.email(id="email", placeholder="E-mail", autocomplete="email") }}
                    </label>
                </div>
                <div class="campo">
                    <h3>Username</h3>
                    <label for="username">
                        {{ form.username(id="username", placeholder="Username", autocomplete="username") }}
                    </label>
                </div>
                <div class="campo">
                    <h3>Password</h3>
                    <label for="password">
                        {{ form.password(id="password", placeholder="Password") }}
                    </label>
                </div>
                <div class="campo">
                    <h3>Confirm Password</h3>
                    <label for="confirm-password">
                        {{ form.confirm(id="confirm-password", placeholder="Confirm Password") }}
                    </label>
                </div>
                <div class="campo">
                    <label for="terms" class="terms">
                        {{ form.terms(id="terms") }}<strong> I read and accept the <a href="/terms" target="_blank">terms of use</a></strong>
                    </label>
                </div>
                <div class="campo">
                    <button class="button" type="submit" >Submit</button>
                    <p id="haveaccount">Already have an account? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>        
    </div>
</main>
<div id="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
        
{% endblock %}
