<link rel="stylesheet" href="{{ url_for('static', filename='css/style-register.css') }}" rel="stylesheet">

{% extends 'base.html' %}

{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}

<main>
    <div>
        <h1 id="titulo">Register</h1>
    </div>
    <form action="" method="POST">
        <fieldset class="campo">
            <div class="campo">
                <label for="name">
                    <input class="text" type="text" name="name"  id="name" autocomplete="given-name" placeholder="Name" required>
                </label>
            </div>
            <div>
                <label for="lastname">
                    <input class="text" type="text" name="lastname"  id="name" autocomplete="family-name" placeholder="Last Name">
                </label>
            </div>
        </fieldset>
        <div class="campo">
            <label for="email">
                <input class="text" type="email" name="email"  id="email" autocomplete="email" placeholder="E-mail">
            </label>
        </div>
        <fieldset class="campo">
            <div class="campo">
                <label for="password">
                    <input class="text" type="password" name="password" id="password" placeholder="Password" required>
                </label>
            </div>
            <div class="campo">
                <label for="confirm-password">
                    <input class="text" type="password" name="confirm-password" id="password" placeholder="Confirm-Password" required>
                </label>
            </div>
        </fieldset>

        <div class="campo">
            <label for="" class="terms">
                <input type="checkbox" id="terms" value="terms">
            </label>
            <label class="terms"><strong>I read and accept the <a href="#">terms of use</a></strong></label>
        </div>
        <div class="campo">
            <button class="button" type="submit" >Next</button>
        </div>
       
    </form>
</main>

{% endblock %}
